section > p:nth-child(1) {
  background-color: rgba(255, 165, 0, 100%);
}
section > p:nth-child(2) {
  background-color: rgba(255, 165, 0, 80%);
}
section > p:nth-child(3) {
  background-color: rgba(255, 165, 0, 60%);
}
section > p:nth-child(4) {
  background-color: rgba(255, 165, 0, 40%);
}
section > p:nth-child(5) {
  background-color: rgba(255, 165, 0, 20%);
}
